---
import Layout from '../layouts/Layout.astro';
import NavigationBar from '../components/NavigaBar.astro';
import AboutUs from '../components/AboutUs.astro';
import CreationCatalogue from '../components/CreationCatalogue.astro';
import FootElement from '../components/FootElements.astro';

const creation = [
	{
		image: "/assets/images/desktop/image-deep-earth.jpg",
		name: "DEEP EARTH",
	},
	{
		image: "/assets/images/desktop/image-night-arcade.jpg",
		name: "NIGHT ARCADE",
	},
	{
		image: "/assets/images/desktop/image-soccer-team.jpg",
		name: "SOCCER TEAM VR",
	},
	{
		image: "/assets/images/desktop/image-grid.jpg",
		name: "THE GRID",
	},
	{
		image: "/assets/images/desktop/image-from-above.jpg",
		name: "FROM UP ABOVE VR",
	},
	{
		image: "/assets/images/desktop/image-pocket-borealis.jpg",
		name: "POCKET BOREALIS",
	},
	{
		image: "/assets/images/desktop/image-curiosity.jpg",
		name: "THE CURIOSITY",
	},
	{
		image: "/assets/images/desktop/image-fisheye.jpg",
		name: "MAKE IT FISHEYE",
	},
]
---

<Layout>
	<NavigationBar />
	<AboutUs />
	<section class="w-full max-w-screen-xl mx-auto px-4 mt-10 lg:mt-150 mb-40">
		<!-- Encabezado -->
		<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-5 lg:mb-15">
			<h2 class="text-3xl sm:text-5xl text-center sm:text-left mb-4 sm:mb-0">OUR CREATIONS</h2>
			<div class="px-13 py-2 border-2 border-black cursor-pointer hover:bg-black hover:text-white transition hidden sm:block">
				<p class="tracking-[0.25em] uppercase">SEE ALL</p>
			</div>
		</div>
		<div class="grid grid-cols-1 lg:grid-cols-4 gap-y-9 gap-x-6">
			{ creation.map((p) => <CreationCatalogue {...p} />) }
		</div>
		<div class="flex justify-center mt-10 sm:hidden">
			<div class="px-13 py-2 border-2 border-black cursor-pointer hover:bg-black hover:text-white transition">
			<p class="tracking-[0.25em] uppercase">SEE ALL</p>
			</div>
		</div>
	</section>
	<FootElement />
</Layout>
