<div class="relative w-full p-4 mt-20 lg:mt-40">
  <!-- Imagen -->
  <div class="w-[731] lg:absolute lg:top-0 lg:left-15 px-15">
    <picture>
      <source srcset="/assets/images/mobile/image-interactive.jpg" media="(max-width: 640px)" />
      <img src="/assets/images/desktop/image-interactive.jpg" alt="" class="w-full lg:w-auto" />
    </picture>
  </div>
  <div class="relative w-full bg-white p-6 lg:absolute lg:-bottom-152 lg:right-30 lg:p-29 lg:w-2xl mt-6 lg:mt-0">
    <h2 class="text-3xl lg:text-5xl text-center lg:text-left mb-4 lg:mb-8">
      THE LEADER IN INTERACTIVE VR
    </h2>
    <p class="text-[15px] lg:text-[15px] text-gray-500 mt-4 lg:mt-7 text-center lg:text-left">
      Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. 
      Our award-winning creations have transformed businesses through digital experiences that bind to their brand.
    </p>
  </div>
</div>

