<div class="relative w-full p-4 mt-20 sm:mt-40">
  <!-- Imagen -->
  <div class="w-full sm:absolute sm:top-0 sm:left-45 p-2">
    <picture>
      <source srcset="/assets/images/mobile/image-interactive.jpg" media="(max-width: 640px)" />
      <img src="/assets/images/desktop/image-interactive.jpg" alt="" class="w-full sm:w-auto" />
    </picture>
  </div>
  <div class="relative w-full bg-white p-6 sm:absolute sm:-bottom-127 sm:right-12 sm:p-29 sm:w-2xl mt-6 sm:mt-0">
    <h2 class="text-3xl sm:text-5xl text-center sm:text-left mb-4 sm:mb-8">
      THE LEADER IN INTERACTIVE VR
    </h2>
    <p class="text-[15px] lg:text-[15px] text-gray-500 mt-4 lg:mt-7 text-center lg:text-left">
      Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. 
      Our award-winning creations have transformed businesses through digital experiences that bind to their brand.
    </p>
  </div>
</div>

