<div class="bg-black w-full py-10">
  <div class="px-4 md:px-20 mx-auto">
    <div class="flex flex-col md:flex-row justify-between gap-8 text-center md:text-left">
      <div class="flex flex-col items-center md:items-start space-y-6 md:space-y-4">
        <div>
          <img src="/assets/images/logo.svg" alt="logo" class="h-8 md:h-6 w-auto" />
        </div>
        <nav>
          <ul class="flex flex-col md:flex-row gap-4 md:gap-9 text-sm md:text-base opacity-80">
            <li class="relative cursor-pointer text-white after:absolute after:bottom-[-6px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">About</li>
            <li class="relative cursor-pointer text-white after:absolute after:bottom-[-6px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">Careers</li>
            <li class="relative cursor-pointer text-white after:absolute after:bottom-[-6px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">Events</li>
            <li class="relative cursor-pointer text-white after:absolute after:bottom-[-6px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">Support</li>
            <li class="relative cursor-pointer text-white after:absolute after:bottom-[-6px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">Products</li>
          </ul>
        </nav>
      </div>
      <div class="flex flex-col items-center md:items-end space-y-6 md:space-y-4">
        <div class="flex space-x-5 justify-center md:justify-end">
          <a href="https://facebook.com" target="_blank" rel="noopener noreferrer"
            class="relative inline-block after:absolute after:bottom-[-9px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">
            <img src="/assets/images/icon-facebook.svg" alt="Facebook" class="block h-6 md:h-6 w-auto" />
          </a>
          <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"
            class="relative inline-block after:absolute after:bottom-[-9px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">
            <img src="/assets/images/icon-twitter.svg" alt="Twitter" class="block h-6 md:h-6 w-auto" />
          </a>
          <a href="https://pinterest.com" target="_blank" rel="noopener noreferrer"
            class="relative inline-block after:absolute after:bottom-[-9px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">
            <img src="/assets/images/icon-pinterest.svg" alt="Pinterest" class="block h-6 md:h-6 w-auto" />
          </a>
          <a href="https://instagram.com" target="_blank" rel="noopener noreferrer"
            class="relative inline-block after:absolute after:bottom-[-9px] after:left-1/2 
            after:-translate-x-1/2 after:h-[2px] after:bg-white after:w-6 after:scale-x-0 hover:after:scale-x-100">
            <img src="/assets/images/icon-instagram.svg" alt="Instagram" class="block h-6 md:h-6 w-auto" />
          </a>
        </div>
        <p class="text-gray-400 text-xs md:text-sm tracking-[0.09em] text-center md:text-right">
          © 2021 Loopstudios. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>
